@{
}
@model TwoModelViewModel


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>OurSpace</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
    <main id="main">
        <section id="hero">
            <div class="container">
                <div class="row justify-content-between gy-5">
                    <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                        <h2 data-aos="fade-up" style="font-size:100px">Dashboard</h2>
                        <p data-aos="fade-up" data-aos-delay="100">Welcome</p>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                        <img src="~/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
                    </div>
                </div>
            </div>
        </section><!-- End Hero Section -->
    </main>
    <!-- ======= Stats Counter Section ======= -->
    <section id="booking" class="booking">
        <div class="container" data-aos="zoom-out">
            <div class="section-header" style="border-left: 30px; border-right: 30px; border-radius: 35px; padding-top: 30px">
                <strong>
                    <h1 style="font-size: 120px">Booking List</h1>
                </strong>
            </div>
            <center>
            <strong>
                <h2 style="color:red">Requested Bookings</h2>
            </strong>
            </center>
            <table class="table table-bordered">
                <tr style="border:solid ;background-color:white" >
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>DateTime</th>
                    <th>Number of Persons</th>
                    <th>Message</th>
                    <th>Hub</th>
                    <th>Accept</th>
                    <th>Decline</th>
                </tr>

                @foreach (var item in Model.Bookings)
                {
                    <tr style="border:solid">
                        <td>@item.BId</td>
                        <td>@item.BName</td>
                        <td>@item.BEmail</td>
                        <td>@item.BCNum</td>
                        <td>@item.BDate</td>
                        <td>@item.BPNum</td>
                        <td>@item.BMessage</td>
                        <td>@item.BHub</td>
                        <td><a asp-action="DashboardAccept" asp-route-id="@item.BId" class="btn btn-danger">Accept</a></td>
                        <td><a asp-action="DashboardDeclined" asp-route-id="@item.BId" class="btn btn-danger">Decline</a></td>
                    </tr>
                }
            </table>
            <center>
            <strong>
                    <h2 style ="color:red">Accepted Bookings</h2>
            </strong>
            </center>
            <table class="table table-bordered">
                <tr style="border:solid ;background-color:white">
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>DateTime</th>
                    <th>Number of Persons</th>
                    <th>Message</th>
                    <th>Hub</th>
                    <th>Complete</th>
                    <th>Canceled</th>
                </tr>

                @foreach (var item in Model.Accepted)
                {
                    <tr style="border:solid">
                        <td>@item.BId</td>
                        <td>@item.BName</td>
                        <td>@item.BEmail</td>
                        <td>@item.BCNum</td>
                        <td>@item.BDate</td>
                        <td>@item.BPNum</td>
                        <td>@item.BMessage</td>
                        <td>@item.BHub</td>
                        <td><a asp-action="DashboardComplete" asp-route-id="@item.BId" class="btn btn-danger">Completed</a></td>
                        <td><a asp-action="DashboardCancelled" asp-route-id="@item.BId" class="btn btn-danger">Canceled</a></td>
                    </tr>
                }
            </table>
            <center>
            <strong>
                    <h2 style="color:red">Completed Bookings</h2>
            </strong>
            </center>
            <table class="table table-bordered">
                <tr style="border:solid ;background-color:white">
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>DateTime</th>
                    <th>Number of Persons</th>
                    <th>Message</th>
                    <th>Hub</th>
                </tr>

                @foreach (var item in Model.Completed)
                {
                    <tr style="border:solid">
                        <td>@item.BId</td>
                        <td>@item.BName</td>
                        <td>@item.BEmail</td>
                        <td>@item.BCNum</td>
                        <td>@item.BDate</td>
                        <td>@item.BPNum</td>
                        <td>@item.BMessage</td>
                        <td>@item.BHub</td>
                    </tr>
                }
            </table>
            <center>
            <strong>
                    <h2 style="color:red">Archived Bookings</h2>
            </strong>
            </center>
            <table class="table table-bordered">
                <tr style="border:solid ;background-color:white">
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Date</th>
                    <th>Number of Persons</th>
                    <th>Message</th>
                    <th>Hub</th>
                    <th>Status</th>
                </tr>

                @foreach (var item in Model.Archive)
                {
                    <tr style="border:solid">
                        <td>@item.BId</td>
                        <td>@item.BName</td>
                        <td>@item.BEmail</td>
                        <td>@item.BCNum</td>
                        <td>@item.BDate</td>
                        <td>@item.BPNum</td>
                        <td>@item.BMessage</td>
                        <td>@item.BHub</td>
                        <td>@item.BStatus</td>
                    </tr>
                }
            </table>

        </div>
    </section><!-- End Stats Counter Section -->
    </div>
    <!-- Start Footer -->
    <footer id="footer" class="footer">
        <div class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>OurSpace</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Group 3 3ITF</a>
            </div>
        </div>
    </footer>

    <!-- End Footer -->
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>
    <script src="~/wwwroot/about.jpg"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/site.js"></script>
</body>